<div class="container">
  <main>
    <h3>Register</h3>
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <div>
        <input type="text" placeholder="Email" formControlName="email" />
      </div>
      <div>
        <input type="text" placeholder="Username" formControlName="username" />
      </div>
      <div>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <div>
        <button type="submit">Log in</button>
      </div>
    </form>
  </main>
</div>
