@import "./colors";

.container {
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.container main {
  display: block;
}

.container main .poke-card {
  max-width: 900px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.poke-card {
  background-color: $card-bg;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  background-color: $navbar-bg;
  color: $white;
  margin-bottom: 10px;
}

.card-header h3 {
  margin-left: 10px;
}
