.container {
  margin-top: 100px;
}

.container .branding img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.container .branding h2 {
  text-align: center;
}

.container .wrapper {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  flex-flow: wrap;
}

.divider {
  margin-left: 5px;
  margin-right: 5px;
}
