<div class="container">
  <div class="branding">
    <img src="../../../../assets/img/rotom-dex.png" />
    <h2>Generations.</h2>
  </div>
  <div class="wrapper">
    <a [routerLink]="['/pokedex/pokemon']"><p>Pokemon</p></a>
    <div class="divider">|</div>
    <a [routerLink]="['/pokedex/']"><p>Abilites</p></a>
    <div class="divider">|</div>
    <a [routerLink]="['/pokedex/']"><p>Moves</p></a>
    <div class="divider">|</div>
    <a [routerLink]="['/pokedex/items']"><p>Items</p></a>
  </div>
</div>
